name: Test

on:
  push:
    branches: [v1.16]
    paths-ignore:
      - '*.md'
      - 'lib/fluent/version.rb'
  pull_request:
    branches: [v1.16]
    paths-ignore:
      - '*.md'
      - 'lib/fluent/version.rb'

concurrency:
  group: ${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

permissions: read-all

jobs:
  repeat-test:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        ruby-version: ['3.4', '3.3', '3.2']

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true

    - name: Run tests repeatedly
      shell: bash
      run: |
        set +e
        # --- 設定 ---
        test_cmd='bundle exec ruby -I"lib:test" test/plugin/test_out_forward.rb -v -n "/test: Create new connection per send_data|test: Node with security is thread-safe on multi threads/"'

        ignore_pattern1="RuntimeError: can't find unused port"
        ignore_pattern2="Errno::EACCES: Permission denied"
        max_retries=1000
        # -----------

        for ((i=1; i<=max_retries; i++)); do
            echo -e "\n=== Run: $i / $maxRetries ==="

            start_time=$(date +%s%N)

            output=$(eval "$test_cmd" 2>&1)
            exit_code=$?

            end_time=$(date +%s%N)
            duration=$(( (end_time - start_time) / 1000000 ))
            echo "Duration: ${duration} ms"

            if [ $exit_code -eq 0 ]; then
                echo "Result: Success"
            else
                if [[ "$output" == *"$ignore_pattern1"* ]]; then
                    echo "Result: Port error detected (Ignored)"
                    echo "$output"
                elif [[ "$output" == *"$ignore_pattern2"* ]]; then
                    echo "Result: Permission error detected (Ignored)"
                else
                    echo "Result: Failure Detected! Stopping."
                    echo "----------------------------------------"
                    echo "$output"
                    echo "----------------------------------------"
                    exit 1
                fi
            fi
        done
        echo "All runs completed."
